.container {
	display: flex;
	flex-flow: column nowrap;
	height: 5.6rem;
}

.input,
.textarea {
	width: 100%;
	height: 4rem;
	border: 1px solid transparent;
	border-radius: 1rem;
	font-size: 1.2rem;
	padding: var(--padding-medium);
	box-shadow:
		inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
	background: none;
	font-family: inherit;
	color: var(--greyDark);

	&:focus {
		outline: none;
		border-color: none;
		box-shadow:
			0.3rem 0.3rem 0.6rem var(--greyLight-2),
			-0.2rem -0.2rem 0.5rem var(--white);
	}

	&:placeholder {
		color: var(--grayLight-1);
	}
}

.error {
	position: relative;
	top: 2px;
	border-color: var(--error);
	box-shadow:
		0 0 0.3rem var(--error),
		inset 0 0 0.2rem var(--error);
}

.error-message {
	height: 1.6rem;
	font-size: 1.2rem;
	padding-left: 0.4rem;
	color: var(--error);
}
