.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: var(--article-padding);
	padding-block: calc(var(--article-padding) * 2);
	min-height: 8rem;
	background-color: var(--white);
	border-top: 1px solid var(--slate-a5);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px auto;
}

.heading {
	grid-area: 1 / 1 / 1 / 3;
	align-self: flex-start;
	justify-self: center;
}

.subheading {
	grid-area: 1 / 1 / 1 / 3;
	justify-self: center;
	align-self: center;
	font-weight: 300;
	color: var(--slate-a10);
}

.list {
	display: grid;
	grid-area: 2 / 1 / 3 / 1;
	grid-template-columns: repeat(3, minmax(50px, 1fr));

	&__category {
		> h6 {
			margin-bottom: var(--gap-medium);
		}
	}

	&__sublist {
		display: flex;
		flex-flow: column;
		gap: var(--gap-medium);
		color: var(--slate-a10);

		li {
			font-size: 1.4rem;
			font-weight: 300;
		}
	}
}

@media screen and (min-width: 551px) {
	.footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.heading {
		grid-area: 1 / 1 / 2 / 2;
		align-self: flex-end;
	}

	.subheading {
		grid-area: 2 / 1 / 3 / 2;
		align-self: flex-start;
		justify-self: unset;
	}

	.list {
		display: grid;
		grid-area: 1 / 2 / 3 / 3;
	}
}
